.App {
  text-align: center;
}
.tempBackground{
  position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  background-image: url("https://titterfun.com/api/assets/image/q8pu0wfegx05.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.icon.tag{
  position:relative;
  color: floralwhite; 
  bottom: 2px;
  margin-right: 5px; 
}

.icon{
  position:relative;
  bottom: 3px; 
}

.brand.logo {
  position:relative;
  color:magenta ;  
  bottom: 2px;
  margin-right: 5px; 
}
.brand {
  position:relative;
  color:magenta ;  
  margin-right: 5px; 
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
